.mainpage{
    background-color: white;
    z-index: 2;
  
  }
  
  .atext{
    width: 110px;
    background: rgb(82, 151, 147);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: left;
    display: block;
    padding: 14px;
    margin: 0px 0px 0px 40px;
  }
  .atext:hover{
    background-color: rgb(134, 90, 134);
    color: wheat;
  
  }
  
  .column{
    width: 100%;
  }
  
  .rightcolumn{
    text-align: right;
    background-color: black;
    color: white;
  }
  
  body{
    background-color: lightgray;
  }
  
  .bodyformat{
    z-index: 1;
    background-color: white;
  }
  
  img{
    max-width: 125%;
  }
  
  .image:hover{
    border: 3px solid rgb(82, 151, 147);
  }
  
  h1{
    color: rgb(82, 151, 147);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 20px;
  }
  

  h3{
    color: rgb(82, 151, 147);
    font-weight: bold;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  h4{
    font-size: 10px;
    text-align: center;
    display: none;
    padding: 10px;
    background-color: rgb(73, 156, 152);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  

  p{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
  }
  
  
  img {
    max-width: 125%;
  }

   
  #imgsel{
    border: rgb(82, 151, 147) 2px solid;
  }
  
  .footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(82, 151, 147);
    color: white;
    text-align: center;
    font-weight: bolder;
    text-align: center;
  }
  
  thead{
    background-color:rgb(82, 151, 147);
    padding: 0mm;
    color: white;
  }
  
  td{
    background-color: white;
  }
  
  td:hover{
    background-color: plum;
    color: wheat;
  }
  
  table{
    height: auto;
    width: auto;
  }
  

  a:hover + h4{
    display: block;
  }

  .dropbtn {
    background-color: white;
    color: #007bff;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: white;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: white;}


